html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



article,
aside,
details,
figcaption,
figure,
footer,

hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

img {
  max-width: 100%;
}

blockquote {
}

.caption {
  display: block;
}

table {
}

td,
th {
}

p,
ol,
ul {
  line-height: 1.5;
  margin-bottom: 1em;
}


a {
  color: #337ab7;
  text-decoration: none;
}

/* for a menu for all recipes */
ul.allrecipes {
  list-style: none;
}

.menu {
  display: block;
  border: 1px solid gray;
  width: 15%;
  font-size: 80%;
  padding: 10px;
  margin: 20px 0 auto;
  font-family: sans-serif;
}
body {
  background-color: rgb(194, 241, 233);

}
main {
  border: 3px solid rgb(131, 131, 131);
  width: 60%;
  height: 20%;
  margin: 0 auto;
  background-color: white;
  padding: 0 30px;
  font-family: sans-serif;
  font-size: 14;

}
img{
  width: 50%;
}
header{
  color: rgb(241, 102, 136);
  text-align-last: center;
  font-family: serif;
  font-size: 30;
}
